@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Comfortaa';
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('/fonts/Comfortaa-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('/fonts/Comfortaa-Bold.ttf') format('ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('/fonts/Comfortaa-Light.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('/fonts/Comfortaa-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('/fonts/Comfortaa-Semibold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

@layer base {
  :root {
    --background: 34 100% 94%; /* #FFF0E0 */
    --foreground: 257 20% 7%; /* #ECEAF1 */
    /* --foreground: 270 10% 93%; #ECEAF1 */
    --card: 34 100% 94%; /* #FFF0E0 */
    --card-foreground: 270 10% 93%; /* #ECEAF1 */
    --popover: 34 100% 94%; /* #FFF0E0 */
    --popover-foreground: 270 10% 93%; /* #ECEAF1 */
    --primary: 49 94% 60%; /* #F9D939 */
    --primary-foreground: 270 10% 6%; /* #100E15 */
    --secondary: 34 100% 80%; /* #F5A300 */
    --secondary-foreground: 270 10% 6%; /* #100E15 */
    --accent: 4 63% 46%; /* #BF3A2B */
    --accent-foreground: 270 10% 93%; /* #ECEAF1 */
    --muted: 34 100% 90%;
    --muted-foreground: 270 10% 40%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 270 10% 93%;
    --border: 34 100% 80%;
    --input: 34 100% 80%;
    --ring: 49 94% 50%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 270 10% 6%; /* #100E15 */
    --foreground: 270 10% 93%; /* #ECEAF1 */
    --card: 270 10% 6%; /* #100E15 */
    --card-foreground: 270 10% 93%; /* #ECEAF1 */
    --popover: 270 10% 6%; /* #100E15 */
    --popover-foreground: 270 10% 93%; /* #ECEAF1 */
    --primary: 49 94% 60%; /* #F9D939 */
    --primary-foreground: 270 10% 6%; /* #100E15 */
    --secondary: 34 100% 80%; /* #F5A300 */
    --secondary-foreground: 270 10% 93%; /* #ECEAF1 */
    --accent: 4 63% 46%; /* #BF3A2B */
    --accent-foreground: 270 10% 93%; /* #ECEAF1 */
    --muted: 270 10% 20%;
    --muted-foreground: 270 10% 60%;
    --destructive: 4 63% 46%;
    --destructive-foreground: 270 10% 93%;
    --border: 270 10% 20%;
    --input: 270 10% 20%;
    --ring: 49 94% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
